body {
    background-image: url('../Assets/sfondo.avif'); /* Cambia il percorso con quello corretto */
    background-size: cover; /* Per adattare l'immagine allo schermo */
    background-position: center; /* Per centrare l'immagine */
    background-repeat: no-repeat; /* Per evitare che si ripeta */
}

.home{
    width: 1400px;
    margin: 0 auto;
}

.slider {margin:0}

#imageGrid {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 0;
    height: 400px;
    
    
}

.card-film {box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.608);
    transition: transform 0.4s;
    cursor: pointer;
    overflow: hidden;
}

.card-film:hover{
    transform: scale(1.02);
    transition: transform 0.4s;
}



.boxMenu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
    
    h4{
        margin-left: 40px;
        font: 1.8em sans-serif;
        color: darkgoldenrod;
    }

    .skills {
        display: flex;
        list-style: none;

        a{
            text-decoration: none;
            color: darkgoldenrod;
            margin-right: 10px;
            font: 1em sans-serif;
        }
    }

    .user{
        display: flex;
        margin-right: 40px;

        

        button{
            background-color: rgb(59, 58, 58);
            margin-top: 35px;
            padding: 0;
            width: 80px;
            height: 80px;
        }
    }
}


.menu1{
    background-color:  rgba(0, 0, 0, 0.784);
    display: flex;
    justify-content: space-between;
    width: 100%;

    button{
        font: 1em sans-serif;
        background-color: rgb(59, 58, 58);
        color: darkgoldenrod;
        height: 40px; 
        width: 140px;
        margin-left: 40px;
    }

    ul{
        display: flex;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin-right: 40px;

        a{
            text-decoration: none;
            color: white;
            font: 1em sans-serif;
            color: darkgoldenrod;
        }
    }
}

.banner{
    height: 300px;
    width: 100%;
    background-color: grey;
}



main{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.784);

    p{
        width: 1000px;
        text-align: center;
        margin-left: 180px ;
        color: darkgoldenrod;
        font: 1em sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* 
.card{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.288) ;
}

.card-body{

    h5{
        width: 100%;
        font: 1em sans-serif;
        
        color: rgb(232, 213, 14);
        text-align: center;
        margin-bottom: 10px;
    }

    button{
    color: black;
    width: 100%;
    margin-top: 15px;
    margin-left: 20px;
    }

    .card-text p{
        text-align: left;
    width: 100px;
    margin: 0;
    }
}
     */

